In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

# **House Prices: Advanced Regression Techniques: Part 1** #

## **1. Define the problem.** ##
**Problem**: We have a training dataset consists of 79 explanatory variables describing (almost) every aspect of residential homes in Ames, Iowa and their price(our output). This competition challenges us to predict the final house price for future houses.

**Motivation**: A learning experience on data science for me. And hopefully I can get some insights on how to buy a house too!

**Assumptions**: Some of the important factors that may affect house price are: location, lot size, number of kitchen and bathroom, ...

## **2. Collect the data. ** ##

In [9]:
import pandas as pd
import os
import settings

train = pd.read_csv(os.path.join(os.getcwd(), settings.DATA_DIR, 'train.csv'))
test = pd.read_csv(os.path.join(os.getcwd(), settings.DATA_DIR, 'test.csv'))
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [10]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [11]:
print('Number of samples in our train data is: %d' % train.shape[0])
print('Number of features in our train data is: %d' % train.shape[1])
print('\nNumber of samples in our test data is: %d' % test.shape[0])
print('Number of features in our test data is: %d' % test.shape[1])

Number of samples in our train data is: 1460
Number of features in our train data is: 81

Number of samples in our test data is: 1459
Number of features in our test data is: 80